.content {
    background-color: #49d0b0;
    color: #fff;
    padding: 0;    
}

.base {
    padding: 1rem;
    text-transform: capitalize;
    padding-bottom: 0;
    z-index: 1;
}

.btn-home {
    background: none;
    border: none;
    font-size: 1.5rem;
    font-weight: 900;
    color: #fff;
    padding: .5rem 0;
    cursor: pointer;
    text-decoration: none;
}

.btn-home:hover {
    color: #000;
    transition: .7s;
}

.presentation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.presentation h1 {
    margin: 0;
}

.types {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 0;
    margin: 0.5rem 0;

    list-style: none;
}

.types .type {
    margin-right: .5rem;
    padding: 0.25rem 1rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    background-color: #49d0b0;
    font-size: 0.9rem;
    font-weight: 300;
}

.content .pokemon-image {
    text-align: center;
}

.details {
    margin-top: -2rem;
    background-color: #fff;
    color: #000;
    border-radius: 1rem;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.details .details-menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    text-transform: capitalize;
    font-weight: 600;
    padding: 0;
}


.details .information label {
    color: gray;
}

.details .information {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: .5rem;
    text-transform: capitalize;
}

.information span .gender-male {
    color: lightblue;
    font-size: 1.2rem;
}

.information span .gender-female {
    margin-left: .5rem;
    color: lightpink;
    font-size: 1.2rem;
}
